.check-out-button {
  border-radius: 0 !important;
  background: #3ba724 !important;
  outline: none !important;
  border: none !important;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    box-shadow: none !important;
    border-radius: 0 !important;
    background: #3ba724 !important;
    height: 6vh !important;
    width: 15vw !important;
    font-size: 20px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
}
